<h1>Edite seu artigo</h1>

<% if @article.errors.any? %>
<h2>Seu artigo não foi criado. Alguns intens estão faltando...</h2>
<ul>
<% @article.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @article do |f| %>
  <p>
    Titulo<br/>
    <%= f.text_field :title %>
  </p>
    Descriçao<br/>
    <%= f.text_area :description %>
  <p>
  <p>
    <%= f.submit %>
  </p>

  </p>
<% end %>

<%= link_to "Volte para a lista de artigos", articles_path %>